.item-info__dashboard {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 50px;
  position: relative;
  color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);

  .icons-info__dashboard {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
  }

  p {
    margin-bottom: 0px;
    width: fit-content;
  }

  .number-item__dashboard {
    font-size: 20px;
  }

  .text-item__dashboards {
    font-size: 12px;
  }
}

.list-info__dashboard {
  > .row {
    & > [class^="col"] {
      height: 100%;
      margin-top: 10px;

      &:nth-child(4n + 1) {
        .item-info__dashboard {
          background: linear-gradient(
            90deg,
            rgb(30 240 236) 0%,
            rgb(0 255 225) 100%
          );

          .icons-info__dashboard {
            transform: rotate(-45deg);
          }
        }
      }

      &:nth-child(4n + 2) {
        .item-info__dashboard {
          background: linear-gradient(
            90deg,
            rgba(0, 190, 255, 1) 0%,
            rgba(0, 142, 255, 1) 100%
          );
          .icons-info__dashboard {
            transform: rotate(-45deg);
          }
        }
      }

      &:nth-child(4n + 3) {
        .item-info__dashboard {
          background: linear-gradient(
            90deg,
            rgba(14, 235, 230, 1) 0%,
            rgba(0, 117, 255, 1) 100%
          );
          .icons-info__dashboard {
            transform: rotate(145deg);
          }
        }
      }

      &:nth-child(4n + 4) {
        .item-info__dashboard {
          background: linear-gradient(
            90deg,
            rgb(14 121 235) 0%,
            rgb(0 216 255) 100%
          );
          .icons-info__dashboard {
            transform: rotate(145deg);
          }
        }
      }
    }
  }
}
