// --------------------------------------------------
$image-theme-path: '../images/' !default;

// standard colors
$white: #fff;
$black: #000 !default;
$nocolor: transparent !default;

$font-base: 'Quicksand', sans-serif;
$second-font: 'UTM Hanzel';

$base-color: #222;
$color-hover: rgb(13, 46, 78);

$title-color: #000; //  Title color
$heading: #002b6c;
$body-color: #59616e; //Body color

$social: #999;

$detail: #272727;

$nav-link: #707070;

$f_bg: #223259;
$f-sub: #b2b5c1;
$f-heading: #1e448d;
$f-line: #7991c9;
$ws: #b2b5c1;

$gray: #777;
$sub-color: #41763b;
$dark-bg: #233663;

$place-color: #9ea6ab;
$place-color2: #777;

$theme-color: #FFFFFF !default;
$border-color: #ebecef !default;
$border-color2: #d7dfe3 !default;

$border-line: #ededed;
$org: linear-gradient(97.29deg, #f3b05d 1.16%, #f38a5d 81.65%);
$blue: #24428f;
$green: #8ec640;
$red: rgb(244, 106, 106);
$star: #f3ac21;

$error: #d64237;

$gray: #f9f9f9;
$yl: #ffab00;
$ipx: 813px !default;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);

$bg-connect: linear-gradient(262.92deg, #66d54b 6.49%, #17c653 108.73%);
$bg-warning: linear-gradient(45deg, #ffb64d, #ffcb80);





// dat 

$blues: #046CB3;
