@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif !important;
  font-weight: 400;
  background: #f2f3f9;
  font-size: 15px;
}
@media (min-width: 1200px) {
  body {
    min-width: 1100px;
  }
}
body > iframe {
  display: none;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

input,
textarea,
.form-control,
button,
.btn {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a {
  color: #222;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
a:hover, a:focus {
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
}

button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  border: none;
}

img {
  max-width: 100%;
}

.text-right {
  text-align: right !important;
}

h2 {
  font-size: 1.5em;
}

.grid-col-0 {
  -ms-grid-columns: (1fr)[0];
  grid-template-columns: repeat(0, 1fr);
}

.grid-col-1 {
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
}

.grid-col-2 {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
}

.grid-col-7 {
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr);
}

.grid-col-8 {
  -ms-grid-columns: (1fr)[8];
  grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 768px) {
  .grid-col-md-0 {
    -ms-grid-columns: (1fr)[0];
    grid-template-columns: repeat(0, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-col-md-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-col-md-2 {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-col-md-3 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-col-md-4 {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-col-md-5 {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-col-md-6 {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-col-md-7 {
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-col-md-8 {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-col-sm-0 {
    -ms-grid-columns: (1fr)[0];
    grid-template-columns: repeat(0, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-col-sm-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-col-sm-2 {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-col-sm-3 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-col-sm-4 {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-col-sm-5 {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-col-sm-6 {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-col-sm-7 {
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-col-sm-8 {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }
}

.grid {
  display: -ms-grid;
  display: grid;
}

.notifi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: fixed;
  pointer-events: auto;
  overflow: hidden;
  padding: 8px;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: #000;
  opacity: 0.9;
  background-position: 15px;
  background-repeat: no-repeat;
  z-index: 1000;
}

.notification:hover {
  -webkit-box-shadow: 0 0 12px #fff;
          box-shadow: 0 0 12px #fff;
  opacity: 1;
  cursor: pointer;
}

.notification-title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.notification-message {
  margin: 0;
  text-align: left;
  margin-left: -1px;
  font-size: 14px;
  white-space: pre-wrap;
}

.notification-image {
  float: left;
  margin-right: 10px;
  text-align: center;
}

.notification-image i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.custom-toast {
  width: 230px;
  min-height: 56px;
  color: #fff;
}

.bottom-left {
  bottom: 12px;
  left: 12px;
  -webkit-transition: -webkit-transform 0.6s ease-in;
  transition: -webkit-transform 0.6s ease-in;
  transition: transform 0.6s ease-in;
  transition: transform 0.6s ease-in, -webkit-transform 0.6s ease-in;
  -webkit-animation: toast-in-left 0.7s;
          animation: toast-in-left 0.7s;
}

.bg-success {
  color: #fff;
  background-color: rgb(52, 195, 143);
}

.bg-error {
  color: #fff;
  background-color: rgb(244, 106, 106);
}

.bg-warning {
  color: #f1b44c;
  background-color: rgba(241, 180, 76, 0.18);
}

.bg-error-call {
  color: #f46a6a;
  background-color: rgba(244, 106, 106, 0.18);
}

.bg-success-call {
  color: #34c38f;
  background-color: rgba(52, 195, 143, 0.18);
}

@-webkit-keyframes toast-in-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.error-text {
  color: #d64237;
}

.loading {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 20;
}

.spinning-loader {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #e5edfc;
  border-left-color: #FFFFFF;
  background: transparent;
  -webkit-animation: rotate-s-loader 1s linear infinite;
          animation: rotate-s-loader 1s linear infinite;
  margin: 1rem auto;
}

@-webkit-keyframes rotate-s-loader {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-s-loader {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.text-center {
  text-align: center !important;
}

.text-red-400 {
  color: rgb(244, 106, 106);
}

.header-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  padding: 10px 0px;
  background-color: #ffffff;
  width: 100%;
  height: auto;
}
.header-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-header__main img {
  width: 110px;
  height: auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.navbar {
  background: #ffffff;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  max-height: 60px;
  padding: 15px 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .navbar {
    margin: 0 0 0 250px;
  }
}

.header {
  -webkit-box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
          box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
}
.header .mobile-menu {
  cursor: pointer;
}
@media (min-width: 1200px) {
  .header .mobile-menu {
    display: none;
  }
}
.header .user-profile-info {
  border-bottom: 1px dashed #eee;
  margin-bottom: 5px;
  padding: 5px 10px;
  text-align: left;
}
.header .user-profile-info .user-name {
  font-size: 0.875rem;
  font-weight: 600;
}
.header .user-profile-info .user-role {
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
.header .user-profile-drp {
  position: relative;
}
.header .user-profile-drp .dropdown-menu {
  background: #fff;
  border: 1px solid #d4d8dd;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 4px 25px 0 rgba(168, 180, 208, 0.1);
          box-shadow: 0 4px 25px 0 rgba(168, 180, 208, 0.1);
  display: none;
  font-size: 0.875rem;
  min-width: 176px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 20;
}
.header .user-profile-drp .dropdown-menu.active {
  webkit-animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  display: block;
}
.header .user-profile-drp .dropdown-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 10px 5px;
}
.header .user-profile-drp .dropdown-item svg {
  width: 17px;
  margin-right: 7px;
  height: 17px;
}
.header .user-profile-drp .avatar {
  position: relative;
  width: 2.375rem;
  height: 2.375rem;
  cursor: pointer;
  border-radius: 50%;
}
.header .user-profile-drp .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.notify-drp {
  position: relative;
  margin-right: 10px;
}
.notify-drp .notify-icon {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}
.notify-drp .notify-icon .badget {
  color: #fff;
  background: rgb(244, 106, 106);
  font-weight: 500;
  font-size: 0.65rem;
  padding: 0px 6px;
  min-width: 18px;
  height: 18px;
  border-radius: 999px;
  position: absolute;
  top: -5px;
  right: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.notify-drp .dropdown-menu {
  background: #fff;
  border: 1px solid #d4d8dd;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 4px 25px 0 rgba(168, 180, 208, 0.1);
          box-shadow: 0 4px 25px 0 rgba(168, 180, 208, 0.1);
  display: none;
  font-size: 0.875rem;
  min-width: 300px;
  padding: 10px;
  text-align: left;
  width: 300px;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 20;
}
.notify-drp .dropdown-menu.active {
  webkit-animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  display: block;
}
.notify-drp .dropdown-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 10px 5px;
}
.notify-drp .dropdown-item svg {
  width: 17px;
  margin-right: 7px;
  height: 17px;
}

/*  chat */
.notifi-wrapper .heading {
  margin-bottom: 10px;
}

.notify-list {
  height: 330px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.notify-list .item .status {
  width: 8px;
  height: 8px;
  line-height: 8px;
  border-radius: 50%;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#22ba4f), to(rgba(34, 186, 79, 0))), #19a442;
  background: linear-gradient(180deg, #22ba4f 0%, rgba(34, 186, 79, 0) 100%), #19a442;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 15px;
  left: 10px;
}

.notify-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  padding: 5px;
  cursor: pointer;
  position: relative;
  webkit-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.notify-list .item.readed {
  background: #ebebeb;
  font-style: italic;
}

.notify-list .item:hover {
  background: #e5edfc;
}

.notify-list .item:hover .btn-del {
  opacity: 1;
}

.notify-list .item .btn-del {
  width: 28px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  right: 5px;
  top: 12px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3rem;
  opacity: 0;
}

.notify-list .item .btn-del i {
  font-size: 12px;
  color: #5a8dee;
}

.notify-list .item .btn-del i.color-gray {
  color: #777;
}

.notify-list .item .photo {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 40px;
  font-size: 16px;
  background: rgba(0, 172, 255, 0.768627451);
  border: 4px solid #fff;
  color: rgba(255, 255, 255, 0.8);
}

.notify-list .item .photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.notify-list .item .info .text-msg {
  color: #707287;
  max-height: 42px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
}

.notify-list .item .info .source {
  font-size: 12px;
  color: #5a8dee;
  letter-spacing: 0.2rem;
}

.notify-list .item .info .username {
  font-weight: 500;
  color: #222;
  margin-bottom: 0;
}

.notify-list::-webkit-scrollbar {
  width: 3px;
  background-color: #eee;
}

.notify-list::-webkit-scrollbar-thumb {
  background-color: #e5edfc;
  border-radius: 999px;
}

/* transform */
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
}
.box-user__login {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-user__login .name-user__login {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 0px;
}

.avatar-user__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.avatar-user__login img,
.avatar-user__login svg {
  width: 100%;
  height: 100%;
}
.avatar-user__login img {
  -o-object-fit: cover;
     object-fit: cover;
}
.avatar-user__login svg {
  fill: #4f5d73;
}

.btn-user__header {
  position: absolute;
  right: 0px;
  top: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 170px;
  padding-left: 0px;
  border-radius: 5px;
  overflow: hidden;
  border: solid 1px #c2c2c2;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-user__header li {
  padding: 5px 20px;
  cursor: pointer;
}
.btn-user__header li:not(:first-child) {
  margin-bottom: 5px;
}
.btn-user__header li p {
  margin-bottom: 0px;
  width: 100%;
}

.btn-avatar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn-avatar__header > svg {
  fill: #727272;
  margin-left: 5px;
}

.btn-avatar__header.active .btn-user__header {
  opacity: 1;
  visibility: visible;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  border-top: solid 1px #CCCCCC;
  background-color: #FFFFFF;
}
.footer a {
  color: #FFFFFF;
}

.items-follow__online {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
  height: 1px;
  padding-top: 90%;
  position: relative;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}
.items-follow__online .intros-follow__online {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 15px;
  width: 100%;
  height: 100%;
}
.items-follow__online .tops-items__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.items-follow__online .status-follow__online {
  position: absolute;
  bottom: 25px;
  left: 0px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 0px;
  text-align: center;
}
.items-follow__online .names-follow__online {
  font-size: 16px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 100% !important;
  margin-left: 10px;
}

.avatar-item__follow.avatar-follow {
  border-radius: 1000px;
  overflow: hidden;
}
.avatar-item__follow.avatar-follow i {
  display: none;
}
.avatar-item__follow.avatar-follow img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-item__follow.avatar-icons {
  border-radius: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #ebebeb;
}
.avatar-item__follow.avatar-icons img {
  display: none;
}
.avatar-item__follow.avatar-icons i {
  font-size: 14px !important;
}

.avatar-item__follow {
  width: 50px;
  height: 50px;
  position: relative;
}
.avatar-item__follow img {
  border-radius: 1000px;
}

.icon-avatar__follows {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 1000px;
  left: 0px;
  top: 0px;
  border: solid 2px #ffffff;
}

.icon-avatar__follows.avatar-online {
  background-color: #5ecb37;
}

.item-online .status-follow__online {
  color: #5ecb37;
}
.item-online .icon-avatar__follows {
  background-color: #5ecb37;
}

.item-offline .status-follow__online {
  color: red;
}
.item-offline .icon-avatar__follows {
  background-color: red;
}

.item-statistical__card {
  height: 100%;
  padding: 20px;
  padding-right: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.item-statistical__card .title-statistical__card {
  font-size: 24px;
}

.list-post__statistical {
  max-height: 290px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}
.list-post__statistical::-webkit-scrollbar {
  width: 5px;
  border-radius: 0px;
}
.list-post__statistical::-webkit-scrollbar-track {
  background-color: transparent;
}
.list-post__statistical::-webkit-scrollbar-thumb {
  background-color: #ababab;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.list-post__statistical::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}
.list-post__statistical .item-post__statistical {
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-post__statistical .item-post__statistical p {
  margin-bottom: 0px;
}
.list-post__statistical .item-post__statistical p:not(:last-child) {
  margin-right: 5px;
}

.report-loading {
  pointer-events: none;
  opacity: 0.6;
}

.status-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
}

.status-post.online {
  background-color: #49cc90;
}

.status-post.offline {
  background-color: #ff0000;
}

.status-post.pause {
  background-color: #ffbf31;
}

.list-statistical__card > .row > [class^=col] {
  margin-bottom: 30px;
}

.item-info__dashboard {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 50px;
  position: relative;
  color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}
.item-info__dashboard .icons-info__dashboard {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
}
.item-info__dashboard p {
  margin-bottom: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.item-info__dashboard .number-item__dashboard {
  font-size: 20px;
}
.item-info__dashboard .text-item__dashboards {
  font-size: 12px;
}

.list-info__dashboard > .row > [class^=col] {
  height: 100%;
  margin-top: 10px;
}
.list-info__dashboard > .row > [class^=col]:nth-child(4n+1) .item-info__dashboard {
  background: -webkit-gradient(linear, left top, right top, from(rgb(30, 240, 236)), to(rgb(0, 255, 225)));
  background: linear-gradient(90deg, rgb(30, 240, 236) 0%, rgb(0, 255, 225) 100%);
}
.list-info__dashboard > .row > [class^=col]:nth-child(4n+1) .item-info__dashboard .icons-info__dashboard {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.list-info__dashboard > .row > [class^=col]:nth-child(4n+2) .item-info__dashboard {
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 190, 255)), to(rgb(0, 142, 255)));
  background: linear-gradient(90deg, rgb(0, 190, 255) 0%, rgb(0, 142, 255) 100%);
}
.list-info__dashboard > .row > [class^=col]:nth-child(4n+2) .item-info__dashboard .icons-info__dashboard {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.list-info__dashboard > .row > [class^=col]:nth-child(4n+3) .item-info__dashboard {
  background: -webkit-gradient(linear, left top, right top, from(rgb(14, 235, 230)), to(rgb(0, 117, 255)));
  background: linear-gradient(90deg, rgb(14, 235, 230) 0%, rgb(0, 117, 255) 100%);
}
.list-info__dashboard > .row > [class^=col]:nth-child(4n+3) .item-info__dashboard .icons-info__dashboard {
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
}
.list-info__dashboard > .row > [class^=col]:nth-child(4n+4) .item-info__dashboard {
  background: -webkit-gradient(linear, left top, right top, from(rgb(14, 121, 235)), to(rgb(0, 216, 255)));
  background: linear-gradient(90deg, rgb(14, 121, 235) 0%, rgb(0, 216, 255) 100%);
}
.list-info__dashboard > .row > [class^=col]:nth-child(4n+4) .item-info__dashboard .icons-info__dashboard {
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
}

:root {
  --main-color: #ecf0f1;
  --point-color: #555;
  --size: 3px;
}

.loader {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100000;
  margin-bottom: 30px;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size) * 2);
}

.loader__element:nth-child(1) {
  -webkit-animation: preloader 0.6s ease-in-out alternate infinite;
          animation: preloader 0.6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
  -webkit-animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
          animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.loader__element:nth-child(3) {
  -webkit-animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
          animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@-webkit-keyframes preloader {
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes preloader {
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
.form-input-group {
  margin-bottom: 10px;
}
.form-input-group.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-input-group.inline p {
  margin-top: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}
.form-input-group.inline .form-control {
  width: 100%;
  display: block;
  background: #efefef;
  -webkit-box-shadow: inset 0px -1px 0px #dddddd;
          box-shadow: inset 0px -1px 0px #dddddd;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 40px;
  padding: 0 25px 0 10px;
  font-weight: 400;
  position: relative;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 16px;
}
.form-input-group.inline .form-control:disabled {
  color: #777;
}
.form-input-group.inline textarea.form-control {
  padding-top: 10px;
}
.form-input-group.inline.border .form-control {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ddd;
  font-weight: 600;
}
.form-input-group > label {
  margin-bottom: 0.3rem;
  display: block;
}
.form-input-group p,
.form-input-group span,
.form-input-group .label-name {
  font-weight: 600;
}

.auth-login-bg {
  background: linear-gradient(45deg, #0e42ff, #73b4ff);
  min-height: 100vh;
  position: relative;
  padding-top: 15%;
}
.auth-login-bg .bg-decor {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 8rem;
  width: 100%;
  -webkit-transform: translate(0, -50%) rotate(0) skewX(0) skewY(-6deg) scaleX(1) scaleY(1);
          transform: translate(0, -50%) rotate(0) skewX(0) skewY(-6deg) scaleX(1) scaleY(1);
  background-color: rgba(255, 255, 255, 0.2);
}

.form-login {
  max-width: 500px;
  margin: 0 auto;
  background: #000;
  padding: 15px 30px;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0 2px 14px rgba(38, 60, 85, 0.16);
          box-shadow: 0 2px 14px rgba(38, 60, 85, 0.16);
  position: relative;
}
.form-login .form-input-group > label {
  color: #fff;
}
.form-login h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #fff;
}

.layout-page {
  min-height: calc(100vh - 83px);
}
@media (min-width: 1200px) {
  .layout-page {
    padding-left: 35px;
  }
}
.layout-page .submenu-sidebar {
  left: -255px;
  position: fixed;
  height: 100%;
  height: calc(100vh - 0px);
  top: 0;
  width: 225px;
  padding: 8px 0;
  z-index: 1031;
  border-left: 1px solid #f1f1ff;
  background: #f1f1ff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
}
.layout-page .submenu-sidebar.show {
  left: 65px;
}
.layout-page .submenu-sidebar h2 {
  color: #FFFFFF;
  font-weight: 600;
  padding: 11px 32px;
  font-size: 1.25rem;
  margin-bottom: 0;
}
.layout-page .menu-vertical {
  position: fixed;
  top: 0;
  left: -4rem;
  z-index: 1040;
  height: 100vh;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  background: #FFFFFF;
}
@media (min-width: 992px) {
  .layout-page .menu-vertical {
    width: 4rem;
    left: 0;
  }
}
.layout-page .menu-vertical.show {
  top: 55px;
  width: 4rem;
  left: 0;
}
.layout-page .site-logo {
  color: #fff;
  margin: 0 0 0px 0;
  padding: 20px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.129);
}
.layout-page .site-logo .logo-apps {
  height: 75px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layout-page .site-logo .logo-apps img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.layout-page .tooltip {
  position: absolute;
  top: 5px;
  background: #515365;
  opacity: 0;
  left: 67px;
  padding: 3px 4px;
  border-radius: 4px;
  font-size: 12px;
  min-width: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #fff;
  opacity: 0;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.layout-page .tooltip span {
  display: block;
  min-width: 14px;
  width: 100%;
}
.layout-page .tooltip:before {
  position: absolute;
  top: 50%;
  left: -3px;
  margin-top: -3px;
  content: "";
  display: inline-block;
  border-top: 3px solid transparent;
  border-right: 3px solid #515365;
  border-bottom: 3px solid transparent;
}
.layout-page .submenu {
  display: none;
}
.layout-page .submenu.show {
  display: block;
}
.layout-page .submenu-list li a {
  padding: 9px 32px;
  display: block;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0;
}

.menu-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.menu-main .menu-item {
  white-space: nowrap;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 5px;
}
.menu-main .menu-item:not(:last-child) {
  margin-right: 10px;
}
.menu-main .menu-item:hover {
  background-color: rgba(255, 255, 255, 0.13);
}
.menu-main .menu-item:hover .tooltip {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.menu-main .menu-item .menu-toggle {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 0 12px;
}
.menu-main .menu-item .menu-toggle svg {
  position: relative;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: #fff;
}
.menu-main .menu-item .menu-toggle span span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}
.menu-main .menu-item .menu-toggle span span i {
  margin-right: 10px;
  min-width: 15px;
  font-size: 16px;
  text-align: center;
}
.menu-main .menu-item.active {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-image: linear-gradient(145deg, #0160e7, #00c3ff) !important;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(1, 110, 234, 0.42);
  box-shadow: 0px 2px 10px 0px rgba(1, 110, 234, 0.42);
}
.menu-main .menu-item.active .menu-toggle span span {
  color: #ffffff;
}
.menu-main .menu-item:hover, .menu-main .menu-item:focus {
  background: #ebebeb;
}
.btn-logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
  color: #ffffff;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 5px 15px;
  margin-top: 20px;
  border: solid 1px transparent;
  background: #ff0000;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(255, 0, 0, 0.4);
  box-shadow: 0px 2px 5px 0px rgba(255, 0, 0, 0.4);
}
.btn-logout i {
  margin-right: 10px;
  min-width: 15px;
  font-size: 17px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.main-content {
  margin-top: 30px;
  padding: 0 20px 0 20px !important;
  margin-left: 60px;
}
@media (min-width: 1200px) {
  .main-content {
    margin-left: 15px;
  }
}
.main-content.has_menu {
  margin-left: 250px;
}
@media (min-width: 1200px) {
  .main-content.has_menu {
    margin-left: 200px;
  }
}

.table-wrapper {
  background: #fff;
  border: 1px solid #d4d8dd;
  border-radius: 0.5rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.table-wrapper .form-control {
  border: 1px solid #ebebeb;
}
.table-wrapper .table {
  font-size: 0.875rem;
  width: 100%;
}
.table-wrapper .table thead th {
  background: #ebebeb;
  height: 46px;
  text-transform: capitalize;
  text-align: left;
}
.table-wrapper .table thead th:first-child {
  border-top-left-radius: 0.5rem;
}
.table-wrapper .table thead th:last-child {
  border-top-right-radius: 0.5rem;
}
.table-wrapper .table tbody tr:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.table-wrapper .table tbody td,
.table-wrapper .table th {
  vertical-align: middle;
  padding: 10px;
}

.btn-trash,
.btn-edit {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0.3rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.btn-trash svg,
.btn-edit svg {
  fill: #fff;
  font-size: 10px;
}

.btn-trash {
  background: rgb(244, 106, 106);
}

.btn-edit {
  background: #ffab00;
}

.table-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination .page-item,
.pagination .page-link {
  margin: 0 5px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 1000px !important;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 0px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05);
}
.pagination .page-item.bg-theme,
.pagination .page-link.bg-theme {
  background: #FFFFFF;
}
.pagination .page-item.bg-theme a,
.pagination .page-link.bg-theme a {
  color: #fff;
}
.pagination .page-item.disabled,
.pagination .page-link.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.pagination .page-item.disabled a,
.pagination .page-link.disabled a {
  color: #777;
  font-size: 0.875rem;
  background: transparent;
}

.active-pages {
  background-color: #00c3ff !important;
}
.active-pages a {
  color: #ffffff !important;
}

.box-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  font-size: 0.875rem;
}

.section {
  border: 1px solid #e0e6ed;
  -webkit-box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
          box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
}
.section.box-general {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.section.box-general .heading {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 600;
}
.section.general-info {
  border-radius: 0.5rem;
  background: #fff;
  padding: 20px;
}
.section.general-info .form-control {
  border: 1px solid #ddd;
}
.section.general-info .heading {
  margin-bottom: 20px;
  font-weight: 600;
}
.section.general-info .info {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section.general-info .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 992px) {
  .section.general-info .info {
    max-width: 90%;
  }
}
.section.general-info .info .photo {
  width: 60px;
  height: 60px;
  margin-right: 40px;
  border-radius: 50%;
  position: relative;
  border: 2px dashed #FFFFFF;
}
@media (min-width: 992px) {
  .section.general-info .info .photo {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 767px) {
  .section.general-info .info .photo {
    margin: 0 auto;
  }
}
.section.general-info .info .photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.section.general-info .info .photo input {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  opacity: 0;
}
.section.general-info .info .photo .edit {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  color: #fff;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
  border: 1px solid #fff;
}
@media (min-width: 768px) {
  .section.general-info .info .user-info {
    width: 700px;
  }
}

.box-form {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #fff;
  padding: 15px;
}
.box-form .box-upload-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-form .photo {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid;
  position: relative;
}
.box-form .photo .button-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: inherit;
  bottom: 0;
}
.box-form .photo .button-actions .form-input-group {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
}
.box-form .photo .button-actions .form-control {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  background: transparent;
}
.box-form .photo .button-actions svg {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  cursor: pointer;
}
.box-form .photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@-webkit-keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.groups-input__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.groups-input__alls .input-alls {
  width: 190px;
  height: 40px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

.control-alls {
  width: 100%;
  background: #ffffff;
  border-radius: 0px;
  padding: 5px 15px;
  border-radius: 5px;
}

.label-input__alls {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-right: 10px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.groups-input__search {
  width: 100%;
  background: #ffffff;
  border: 1px solid #c3c2c2;
  border-radius: 3px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.groups-input__search input {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.groups-input__search i {
  color: #484a5b;
  cursor: pointer;
}

.groups-filter__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}
.groups-filter__alls > [class^=groups-input] {
  margin-right: 25px;
}

.tittle-tops {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.btn-black__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #24428f;
  background-color: #24428f;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}
.btn-black__alls img {
  margin-left: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-black__alls:hover, .btn-black__alls:focus {
  background-color: #ffffff;
  color: #24428f;
  border-color: #24428f;
}
.btn-black__alls:hover img, .btn-black__alls:focus img {
  -webkit-filter: brightness(0) saturate(100%) invert(29%) sepia(14%) saturate(3775%) hue-rotate(195deg) brightness(96%) contrast(92%);
          filter: brightness(0) saturate(100%) invert(29%) sepia(14%) saturate(3775%) hue-rotate(195deg) brightness(96%) contrast(92%);
}

.export-file__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 15px;
  padding: 0px 25px;
  padding-left: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: auto;
  background-color: #27ae60;
}
.export-file__btn i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.13);
  margin-right: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 15px;
}
.top-record__phone {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.box-content {
  margin-bottom: 30px;
}

.table-alls {
  border: 1px solid transparent;
  border-collapse: collapse;
  padding: 10px 15px;
}
.table-alls tr:nth-child(1) {
  color: #000000;
  font-weight: 700;
}
.table-alls tr:nth-child(2n+2) {
  background-color: #f1f4f8;
}
.table-alls p {
  margin-bottom: 0px;
}
.table-alls audio::-webkit-media-controls-play-button,
.table-alls audio::-webkit-media-controls-panel {
  background-color: #ebebeb;
  color: #ebebeb;
}

.table-alls td {
  border: 1px solid transparent;
  padding: 10px 15px;
  vertical-align: middle;
}
.table-alls td audio {
  height: 40px;
  max-width: 270px;
}

.table-list__all {
  padding: 20px;
  background-color: #ffffff;
}
.table-list__all::-webkit-scrollbar {
  width: 2px;
  height: 10px;
  border-radius: 0px;
}
.table-list__all::-webkit-scrollbar-track {
  background-color: transparent;
}
.table-list__all::-webkit-scrollbar-thumb {
  background-color: grey;
}
.table-list__all .table-alls {
  width: 100%;
  color: #5c5c5c;
}

.date-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.date-call::before {
  font-family: "fontawesome";
  content: "\f017";
  margin-right: 5px;
}

.name-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
  border-radius: 1000px;
  background-color: #28d5bc;
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  text-transform: uppercase;
}
.name-call::before {
  font-family: "fontawesome";
  content: "\f2c0";
  margin-right: 5px;
}

.not-call,
.on-call {
  padding: 5px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 1000px;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
}

.not-call {
  background-color: #16c79a;
}

.on-call {
  background-color: red;
}

.input-date {
  position: relative;
}
.input-date::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
}

.start-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.start-date input {
  padding-right: 30px;
  width: 200px;
  height: 40px;
  border: 0px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}
.start-date::after {
  font-family: "fontawesome";
  content: "\f251";
  position: absolute;
  right: 15px;
}

.end-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.end-date input {
  padding-right: 30px;
  width: 200px;
  height: 40px;
  border: 0px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}
.end-date::after {
  font-family: "fontawesome";
  content: "\f253";
  position: absolute;
  right: 15px;
}

.btn-blue__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  background-image: linear-gradient(145deg, #0160e7, #00c3ff) !important;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px;
  color: #ffffff;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 5px 15px;
  border: solid 1px transparent;
}
.btn-blue__alls img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.btn-blue__alls:hover, .btn-blue__alls:focus {
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
.btn-blue__alls:hover img, .btn-blue__alls:focus img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.btn-dowload__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px;
  color: #ffffff;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 5px 15px;
  border: solid 1px transparent;
  margin-left: 20px;
}
.btn-dowload__all img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.btn-dowload__all:hover, .btn-dowload__all:focus {
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
.btn-dowload__all:hover img, .btn-dowload__all:focus img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.gutter-0 {
  margin: 0 0px;
}
.gutter-0 > [class^=col] {
  padding: 0 0px;
}

.gutter-10 {
  margin: 0 -5px;
}
.gutter-10 > [class^=col] {
  padding: 0 5px;
}

.list-record {
  margin-bottom: 10px;
}

@media (max-width: 1600.98px) {
  .table-alls {
    font-size: 14px;
  }
  .table-alls td {
    padding: 5px;
  }
  .avatar-item__follow {
    width: 30px;
    height: 30px;
    min-width: 30px;
  }
  .items-follow__online .intros-follow__online {
    padding: 10px;
  }
  .icon-avatar__follows {
    width: 10px;
    height: 10px;
    left: -2px;
    top: -2px;
  }
}
@media (max-width: 1365.98px) {
  body {
    font-size: 14px;
  }
  .layout-page .menu-vertical {
    width: 210px !important;
  }
  .main-content.has_menu {
    margin-left: 140px;
  }
  .footer {
    width: 100%;
  }
  .name-call {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
  .name-call::before {
    display: none;
  }
  .items-follow__online .names-follow__online {
    font-size: 14px;
  }
}
.check-box__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent !important;
}
.check-box__alls label {
  margin-bottom: 0px;
  margin-left: 10px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
}
.check-box__alls input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 9;
  margin: 0px;
}
.check-box__alls .checkmark {
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #e0e0e0;
  overflow: hidden;
}
.check-box__alls .checkmark:hover:after, .check-box__alls .checkmark:focus:after {
  opacity: 1 !important;
  visibility: visible !important;
}
.check-box__alls .checkmark:after {
  font-family: "fontawesome";
  content: "\f00c";
  font-size: 12px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 18px;
  height: 17px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.check-box__alls input:checked ~ .checkmark:after {
  opacity: 1;
  visibility: visible;
}

.active-in__out .checkmark:after {
  opacity: 1;
  visibility: visible;
}

.d-none {
  display: none;
}

.contain-page {
  padding-top: 115px;
  min-height: calc(100vh - 55px);
}
.contain-page .container {
  max-width: 100%;
}

.in-out__sever {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.in-out__sever .check-box__alls:not(:last-child) {
  margin-right: 20px;
}
.in-out__sever .check-box__alls .checkmark {
  width: 20px;
  height: 20px;
}
.in-out__sever .check-box__alls label {
  font-size: 16px;
}

.check-phone__report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}